/*Generic START*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff1f3;
}

.hr_section_divider{
  border-top: 5px dotted #ddaeb5;
}

.div_section_heading{
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 50px 0px 50px 0px;
}

.hr_card_underline{
  border-top: 5px  white;
  border-left: none;
  border-right: none;
  width: 400px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  color: #76202e;
  background: #76202e;
  /*Individual adjustments can be
  found on each card div element*/
}
/*Generic END*/

/*Navbar START*/
.li_navbar_link{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #edf0f1;
  text-decoration: none;
}

.a_navbar_link{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #edf0f1;
  text-decoration: none;
}

.header_navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #76202e;
}

.img_navbar_logo{
  width: 300px;
  cursor: pointer;
  background-color: #76202e;
}

.ul_nav_links{
  list-style: none;
  background-color: #76202e;
}

.ul_nav_links li{
  display: inline-block;
  padding: 0 20px;
  background-color: #76202e;
}

.ul_nav_links li a{
  transition: all 0.3s ease 0s;
  background-color: #76202e;
  font-weight: 500;
}

.ul_nav_links li a:hover{
  color: #ddaeb5;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*Navbar END*/

/*Frontpage START*/
.div_top_section_heading{
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 200px 0px 50px 0px;
}

.div_button_container{
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.button_apply_now{
  font-weight: bold;
  border-radius: 100px;
  border-style: solid;
  border-width: 5px;
  font-size: 25px;
  color: #76202e;
  border-color: #76202e;
  padding: 15px;
  cursor: pointer;
}

.button_apply_now:hover{
  color: white;
  background-color: #76202e;
  transition: 0.1s;
}

.div_frontpage_left {
  float: left;
  width: 50%;
  padding: 50px 50px 100px 150px;
  display: flex;
  justify-content: center;
}

.div_frontpage_right {
  float: right;
  width: 50%;
  padding: 50px 150px 100px 50px;
  display: flex;
  justify-content: center;
}

.img_jobfair_logo{
  height: 500px;
  padding: 0px;
}

.img_frontpage_photo{
  height: 500px;
  padding: 0px;
  border-radius: 10px;
}
/*Frontpage END*/

/*About START*/
.div_about_left{
  float: left;
  width: 40%;
  height: 300px;
  padding: 20px;
  margin: 0px 5% 50px 5%;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border-style: solid;
  border-color: #76202e;
  border-radius: 20px;
}

.div_about_right{
  float: right;
  width: 40%;
  height: 300px;
  padding: 20px;
  margin: 0px 5% 50px 5%;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border-style: solid;
  border-color: #76202e;
  border-radius: 20px;
}

.p_about_heading{
  font-size: 40px;
  font-weight: bold;
  padding: 10px 10px 20px 10px;
}

.p_about{
  font-size: 20px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
/*About END*/

/*Sponsors START*/
/*Sponsors END*/

/*Contact START*/
.div_contact_master{
  justify-content: space-around;
  display: flex;
  text-align: center;
}

.div_contact{
  flex: 33.33;
  width: 40%;
  height: 350px;
  padding: 20px;
  margin: 0px 2% 50px 2%;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border-style: solid;
  border-color: #76202e;
  border-radius: 20px;
  background: #76202e;
}

.p_contact_heading{
  font-size: 40px;
  font-weight: bold;
  padding: 10px 10px 0px 10px;
  background: #76202e;
  color: white;
}

.p_contact_subtitle{
  font-size: 30px;
  padding: 0px 10px 0px 10px;
  background: #76202e;
  color: white;
}

.p_contact{
  font-size: 20px;
  padding: 5px;
  background: #76202e;
  color: white;
  clear: both;
  cursor: pointer;
}

.div_contact_line{
  justify-content: center;
  display: flex;
  text-align: center;
  background: #76202e;
  padding: 5px;
}


.img_icon{
  margin: 6px 5px 0px 5px;
  border: none;
  width: 20px;
  height: 20px;
  clear: both;
}
/*Contact END*/