@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff1f3;
}

.div_section_heading{
  justify-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 50px 0px 50px 0px;
}